body{
    background-color:#B25D3E;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Mali', cursive;
    color: black;
}

img {
    
    border-radius: 25px;
}

.navbar-nav {
    float:none;
    margin: 0 auto;
    text-align: center;
    padding-right: 310px;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}     

#rcorner1 {
    border-radius: 25px;
    background-color: #FFFAEE;
}

.col{
      
      font-size: 20px;
}